@font-face{
    font-family: Brandon Text Regular;
    src:url("HVD\ Fonts\ -\ BrandonText-Regular.otf")
}
* {
    font-size: 100%;
    font-family: Brandon Text Regular;
   }
body{
    padding: 40px;
    margin-top: 2em;
    margin-left: 8em;
    margin-right: 8em;
    border-radius: 25px;

    border: 2px solid #73AD21;
}
/* .log{
    display: flex;
    justify-content: flex-end;
} */
.list{
    display: grid;
    grid-template-columns: 1fr 1fr 150px 1fr 1fr;
    margin-top: 100px;
    align-content: center;
}
h1{
    float: top;
    text-align: center;
}
.news{
    display: grid;

}
.first{
    display: grid;
    grid-template-columns: 1fr minmax(auto, auto) 1fr;

}

.log{
    display: flex;
    column-gap: 4em;
    justify-content: flex-end;
    align-items: center;
    
}


